<hr>
<footer>
  <div style="float:left;">
    <p>&copy; {{ todaysDate }}</p>
  </div>
  <div style="float:right;">
    <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>&nbsp;
    <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>&nbsp;
    <a href="#"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <p class="float-right"><a (click)="backToTop()" style="cursor: pointer">Top&nbsp;<i class="fa fa-arrow-circle-up fa-1x" aria-hidden="true"></i></a></p>
  </div>
</footer>

